.select_friend {
  .title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.58px;
    line-height: 30px;
    text-align: center;
  }
  .friends_search_container {
    margin-top: 20px;
  }
}

.select_friend_top_block {
  background-color: rgba(0,0,0,0.26);
  position: relative;
  padding: 30px 35px 30px;
  .opponent_need_add_friends {
    width: calc(100% - 180px);
    margin: 0 90px;
    p {
      padding: 6px 10px;
    }
  }
}

.select_friend_bottom_block {
  margin: 50px 0 20px;
  .cancel_btn {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
    background: transparent;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.select_friend_list {
  padding: 25px 0 30px;
  min-height: 355px;
}

.select_friend_item {
  margin: 7px 20px 7px 0;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 24px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
      background-color: #19214D;
  }
  .select_friend_avatar {
    width: 44px;
    height: 44px;
    margin-right: 22px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    margin-right: 10px;
  }
  span {
    color: #2FC272;
    font-size: 14px;
    line-height: 17px;
  }
}