.block_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
.content_center{
  min-width: 425px;
  text-align: center;
  padding-bottom: 18px ;
  border: 1px solid #373947;
  border-radius: 10px;
  background-color: #0E1832;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  .title{
    line-height: 47px;
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
  }
  .info_descriptions{
    line-height: 18px;
    color: #FFFFFF;
    font-size: 16px;
  }
  .default_button_wrapper{
    margin-bottom: 12px;
    button{
      font-size: 14px;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
    }
  }
  .auth_button_wrapper {
    margin-bottom: 12px;
    button {
      height: 54px;
      width: 254px;
      line-height: 54px;
    }
  }
  .default_button_wrapper .default_button.default_button_big{
    height: 54px;
    width: 254px;
    line-height: 54px;
  }
}
.block_img_center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 204px;
  img{
    z-index: 1;
  }
  i{
    top: 50%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
  }
}
.wait_block{
  .info_descriptions{
    padding: 5px 0 15px;
    &.description_pad_bottom {
      padding-bottom: 75px;
    }
  }
  i{
    box-shadow: -35px -5px 100px 55px #ff344d;
  }
  .block_img_center{
    padding: 77px 0 44px;
  }
}

