.dispute_detail_wrapper {
  display: flex;
}

.dispute_detail_container {
  height: calc(100vh - 50px);
  width: 100%;
}

.dispute_info_wrapper {
  height: calc(100vh - 50px);
  width: 360px;
  min-width: 360px;
  background-color: #0E1832;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
  padding-right: 8px;
  hr {
    background: #373947;
    width: 100%;
    height: 1px;
  }
}

.dispute_info_inner {
  padding: 37px 30px 0;
}

.dispute_info_link {
  padding-bottom: 32px;
  a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.dispute_info_section_header {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.dispute_info_label {
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  line-height: 22px;
  display: block;
  margin: 18px 0 9px;
}

.dispute_info_value {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.dispute_screenshots {
  .dispute_info_section_header {
    margin: 25px 0 20px;
  }
  img {
    cursor: pointer;
    margin-right: 20px;
    max-width: 40%;
    border-radius: 6px;
  }
}

.dispute_info_opponent {
  display: flex;
  align-items: center;
  .dispute_info_opponent_avatar {
    height: 26px;
    width: 26px;
  }
  & > img {
    width: 14px;
    margin: 0 4px 0 11px;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dispute_info {
  padding: 24px 0 32px;
  .flex-center > :first-child {
    margin-right: 50px;
  }
}

.agent_logo_big {
  margin-right: 18px;
  div {
    width: 46px;
    height: 46px;
  }
}

.agent_logo_small {
  margin-right: 11px;
  div {
    width: 26px;
    height: 26px;
  }
}

.dispute_info_agent {
  display: flex;
  align-items: center;
}

.no_photo_dispute {
  height: 90px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 6px;
  padding: 19px 22px;
  font-size: 18px;
  line-height: 21px;
}

.dispute_scroll_inner {
  padding: 0 30px 37px;
}