.info_content_wrapper {
  padding: 50px 26px 35px 43px ;
  h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
  }
}

.info_content {
  padding-right: 20px;
}

.support_wrapper {
  padding: 38px 20px 57px;
  h2 {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 52px;
    font-weight: 400;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .custom_input_wrapper {
      margin-bottom: 17px;
    }
    .auth_button_contained {
      height: 50px;
      line-height: 50px;
      min-width: 235px;
      margin-top: 20px;
    }
  }
}