.profile_page_wrapper {
  padding: 30px;
  h3 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 34px 0 28px;
    font-weight: 400;
  }
}

.game_profiles_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    margin-right: 20px;
  }
  & > :last-child {
    margin-right: 0;
  }
}

.settings_profile_info {
  max-width: 692px;
  margin: 0 auto;
}