.upload_results {
  position: relative;
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.58px;
    line-height: 30px;
    text-align: center;
    padding: 30px 0 28px;
  }
  .opponent_need_add_friends {
    p {
      padding: 6px 20px;
    }
  }
  .default_button_wrapper {
    margin-bottom: 25px;
    button {
      &:disabled {
        color: #ffffff;
        opacity: 0.7;
      }
    }
  }
  .snack_root {
    left: calc(50% + 245px / 2);
  }
}

.upload_results_top_wrapper {
  position: relative;
  height: 472px;
  background-color: rgba(0,0,0,0.26);
  margin-bottom: 40px;
}

.evidence_btn {
  background: transparent;
  position: relative;
  margin: 0 auto 20px;
  display: block;
  cursor: pointer;
}

.evidence_btn_info {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  text-align: center;
  color: #ffffff;
  img {
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    letter-spacing: -0.27px;
    line-height: 15px;
    text-align: center;
  }
  span {
    font-size: 8px;
    letter-spacing: -0.18px;
    line-height: 10px;
    text-align: center;
  }
}

.evidence_input {
  display: none;
}

.preview_container {
  overflow: hidden;
  padding: 5px;
  margin: 0 auto 20px;
  width: 315px;
  height: 161px;
  position: relative;
  background: url("../../../../assets/image/evidence_border.svg") no-repeat 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 6px;
    max-width: 305px;
    max-height: 151px;
  }
}

.evidence_delete {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
    background: rgba(255,255,255,1);
  }
  svg {
    font-size: 20px;
    fill: #0A1125;

  }
}

.upload_error {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  p {
    color: red;
    font-size: 10px;
    max-width: 80%;
    margin: 0 auto;
  }
}

