.settings_nav_wrapper {
  min-width: 290px;
  padding: 39px 42px 49px;
  a, button {
    padding: 10px 0;
    margin-bottom: 18px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    display: block;
    width: 100%;
    color: #A0A6D0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &:hover {
      color: #cbd1ff;
    }
    &.active {
      color: #ffffff;
    }
  }
}

.logout_wrapper {
  text-align: center;
  h3 {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 47px;
  }
  img {
    margin: 32px 0;
    max-height: 100px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

.logout_buttons {
  margin-bottom: 36px;
  .default_button_wrapper {
    display: inline-block;
  }
  & > :first-child {
    margin-right: 13px;
  }
}