.payment_result_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_result_inner {
  padding: 50px 30px 30px;
  margin-top: 50px;
  min-height: 300px;
  width: 413px;
  border-radius: 10px;
  background-color: #0E1832;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  text-align: center;
  a {
    text-decoration: none;
  }
  h4 {
    margin: 30px 0 22px;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0 2px 24px 0 #FFFFFF;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 19px;
    &.balance_green {
      color: #2FC272;
      font-size: 24px;
      line-height: 28px;
      margin: 40px 0 23px;
    }
  }
  .default_button_wrapper {
    .default_button_big {
      height: 45px;
      line-height: 45px;
      width: 180px;
      font-size: 14px;
    }
  }
}

.payment_cancel_wrapper {
  .default_button_wrapper {
    margin: 100px 0 30px;
  }
}

.payment_success_wrapper {
  .default_button_wrapper {
    margin: 40px 0 30px;
  }
}

.payment_result_methods {
  img {
    max-height: 20px;
    margin: 0 5px;
  }
}