.challenge_item_wrapper {
  height: 180px;
  min-width: 300px;
  width: 31%;
  margin: 0 3% 37px 0;
  border-radius: 12px;
  background-color: #1654DF;
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0);
  padding: 18px 30px 13px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.challenge_completed {
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 84, 223, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    transform: rotate(-15deg);
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
  }
}

.challenge_info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  span {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    line-height: 15px;
  }
  p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
  }
}

.challenge_claim_btn {
  cursor: pointer;
  height: 36px;
  width: 95px;
  border-radius: 26px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(246,76,50,0.3);
  color: #264977;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
  &.locked {
    background-color: rgba(255,255,255,0.3);
    &:disabled {
      opacity: 1;
    }
  }
  div {
    margin-top: 4px
  }
}

.challenge_progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress_bar {
  width: 55%;
  height: 6px;
  border-radius: 3px;
  background-color: #264977;
  position: relative;
}

.progress_line {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}

.progress_thumb {
  position: absolute;
  right: -7.5px;
  top: -4.5px;
  height: 15px;
  width: 15px;
  border: 1px solid #1654DF;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.challenge_availability {
  margin-left: 17px;
  font-size: 14px;
  line-height: 17px;
}