.select-container {
  min-width: 277px;
  .select__control {
    border-radius: 3px;
    background-color: #0E1832;
    border: 1px solid #373947;
    min-height: 45px;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    &:hover, &:focus {
      border-color: #373947;
      outline: 0;
      box-shadow: none;
    }
    &.select__control--menu-is-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .select__dropdown-indicator {
        transform: rotate(180deg);
      }
    }
  }
  &.select--is-disabled {
    .select__dropdown-indicator {
      display: none;
    }
  }
  .select__single-value {
    color: #ffffff;
  }
  .select__menu {
    background-color: #0E1832;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid #373947;
    border-right: 1px solid #373947;
    border-bottom: 1px solid #373947;
  }
  .select__menu-list {
    padding: 0;
    & > :last-child {
      border-bottom: none;
    }
  }
  .select__option {
    min-height: 45px;
    line-height: 45px;
    padding: 12px 8px;
    border-bottom: 1px solid #373947;
    cursor: pointer;
    max-width: 277px;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: transparent;
    }
    &.select__option--is-focused {
      background-color: transparent;
    }
  }
  .select__indicator-separator {
    background-color: transparent;
  }
  .select__dropdown-indicator {
    background-color: #1F2C4C;
    border-radius: 50%;
    color: #ffffff;
    padding: 3px;
    margin-right: 17px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &:hover {
      color: rgba(255,255,255,0.7);
    }
  }
}

.my_label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  img {
    margin-right: 10px;
  }
  span {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
