.invite_code_block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  background-color: #0E1832;
  padding: 22px 49px 22px 36px;
  &.invite_code_loading {
    justify-content: center;
    div {
      color: #ff344d;
    }
  }
}

.invite_code_info {
  display: flex;
  align-items: center;
  & > img {
    margin-right: 25px;
  }
  .invite_code_text {
    margin-right: 42px;
  }
  p {
    font-size: 12px;
    line-height: 15px;
  }
  h5 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1.3px;
    line-height: 30px;
  }
  .auth_button_outlined {
    text-transform: none;
    height: 42px;
    line-height: 42px;
    min-width: 134px;
  }
}

.invite_code_earn {
  font-size: 14px;
  line-height: 17px;
  span {
    color: #2AEC83;
  }
}