.stake_block {
  position: relative;
  overflow: hidden;
  padding: 18px 0 60px;
  text-align: center;
  border-radius: 12px;
  h5 {
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .stake_value {
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    img {
      margin: 0 0 5px 15px;
    }
  }
}

.stake_bottom_block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(14, 17, 71, 0.38);
  p {
    color: #D7DEFF;
    font-size: 13px;
    line-height: 45px;
    text-align: center;
  }
  img {
    margin-left: 5px;
  }
}

.stake_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}