.promo_code_wrapper {
  padding: 20px 24px;
  min-width: 339px;
  &.promocode_disabled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div {
      color: #ff344d;
    }
    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      text-shadow: 0 2px 24px 0 #FFFFFF;
    }
  }
  p {
    font-size: 10px;
    line-height: 12px;
    text-shadow: 0 2px 24px 0 #FFFFFF;
    margin: 15px 0 20px;
  }
}

.promo_code_header {
  h4 {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-shadow: 0 2px 24px 0 #FFFFFF;
    margin-left: 15px;
  }
}

.promo_code_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .custom_input_wrapper {
    margin-right: 20px;
    .custom_input {
      background-color: rgba(4,4,40,0.5);
    }
  }
  .default_button_green {
    &.default_button_small {
      line-height: 45px;
      height: 45px;
      min-width: 116px;
      &:disabled {
        color: #ffffff;
        opacity: 0.7;
      }
    }
  }
}

.promocode_dialog_wrapper {
  min-width: 302px;
  text-align: center;
  h3 {
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0 2px 24px 0 #FFFFFF;
    font-weight: 400;
  }
  .promocode_error_title {
    margin-bottom: 35px;
  }
  p {
    color: #2FC272;
    font-size: 24px;
    line-height: 28px;
    margin: 27px 0 32px;
  }
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
  }
}