.draw_block{
  .title{
    letter-spacing: -0.58px;
    font-size: 28px;
    line-height: 30px;
    padding-top: 30px;
    font-weight: 600;
  }
  i{
    box-shadow: -68px -4px 80px 64px #4FADF4;
  }
  .block_img_center{
    padding: 23px 0 47px;
  }
  .block_center_btn{
    padding: 77px 0 30px;
    button{
      margin-bottom: 20px;
    }
  }
  .description_block{
    display: block;
    padding: 14px 0 30px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: -0.27px;
    line-height: 15px;
    font-family: ".SF NS Display", sans-serif;
  }
  .auth_button_wrapper {
    a {
      height: 54px;
      width: 254px;
      line-height: 54px;
      text-decoration: none;
    }
  }
}
