.get_credits_wrapper {
  min-height: 609px;
  min-width: 692px;
  padding: 25px 25px 40px;
  .auth_button_wrapper {
    text-align: center;
  }
  .auth_button_contained {
    min-width: 226px;
    height: 50px;
    line-height: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    &:disabled {
      background-image: -webkit-linear-gradient(left, rgba(210, 39, 60, 0.3), rgba(255, 52, 77, 0.3), rgba(210, 39, 60, 0.3), rgba(255, 52, 77, 0.3));
      background-image: linear-gradient(to right, rgba(210, 39, 60, 0.3), rgba(255, 52, 77, 0.3), rgba(210, 39, 60, 0.3), rgba(255, 52, 77, 0.3));
      opacity: 1;
    }
  }
  .get_start_title {
    font-size: 24px;
  }
}

.credits_player_wrapper {
  margin: 20px 0;
  height: 360px;
  position: relative;
  .react-player__shadow {
    width: 72px !important;
    height: 72px !important;
  }
  .react-player__play-icon {
    width: 72px;
    height: 72px;
    margin: 0 !important;
    border: none !important;
    background: url("../../../assets/image/play_icon.svg") no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .player_preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background: transparent;
      width: 72px;
      height: 72px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 1);
      border-radius: 50%;
      cursor: pointer;
      filter: grayscale(30%);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      &:hover {
        filter: grayscale(0%);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0);
      }
      img {
        width: 100%;
      }
    }
  }
  iframe {
    pointer-events: none;
  }
}

.credits_info {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 0 auto 24px;
}

.credits_btn_wrapper {
  position: relative;
  min-height: 50px;
}

.credits_skip {
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  color: #A0A6D0;
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  img {
    margin-left: 10px;
    transform: rotate(180deg);

    position: absolute;
    right: 0;
    top: calc(50% - 5.5px);
  }
  &:hover {
    text-decoration: none;
    img {
      webkit-animation: skip_link 1s linear infinite;
      animation: skip_link 1s linear infinite;
    }
  }
}