.app-circle {
  height: 239px;
  width: 239px;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 46.5px;
}