.thank_block{
    a {
      text-decoration: none;
    }
  .title{
    letter-spacing: -0.58px;
    font-size: 28px;
    line-height: 30px;
    padding-top: 30px;
    font-weight: 600;
  }
  i{
    box-shadow: -49px 2px 105px 65px #ff344d;
  }
  .block_img_center{
    padding: 67px 0 80px;
  }
  .block_center_btn{
    padding: 77px 0 14px;
    button{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .description_block{
    display: block;
    padding-bottom: 30px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: -0.27px;
    line-height: 15px;
    font-family: ".SF NS Display", sans-serif;
  }
  .auth_button_outlined {
    height: 54px;
    width: 254px;
    line-height: 54px;
  }
}

.info_center{
  width: 315px;
  position: absolute;
  bottom: -22px;
  left: calc(50% - 157.5px);
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #373947;
  border-radius: 22px;
  background-color: #0E1832;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  color: #FFFFFF;
  font-family: ".SF NS Display", sans-serif;
  font-size: 12px;
  letter-spacing: -0.27px;
  line-height: 15px;
  text-align: center;
}
