.top_leaderboard_wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  margin: 33px 0 28px;
  & > :nth-child(1) {
    align-self: center;
  }
  & > :nth-child(2) {
    align-self: flex-start;
  }
  & > :nth-child(3) {
    align-self: flex-end;
  }
}

.top_item_block {
  position: relative;
  min-height: 200px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 15px 20px 0 rgba(61,21,160,0.33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 20px;
  .top_leaderboard_avatar {
    width: 64px;
    height: 64px;
  }
  & > p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
  }
  & > span {
    font-size: 14px;
    line-height: 17px;
  }
}

.leader_position1 {
  background: url("../../../assets/image/lead_first.png") no-repeat 50% 50%;
}

.leader_position2 {
  background: url("../../../assets/image/lead_second.png") no-repeat 50% 50%;
}

.leader_position3 {
  background: url("../../../assets/image/lead_third.png") no-repeat 50% 50%;
}

.place_leader_block {
  position: absolute;
  right: 18px;
  top: 14px;
  & > span {
    font-size: 8px;
    line-height: 10px;
  }
}

.place_circle {
  height: 30px;
  width: 30px;
  background-color: #333672;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}