.game_board_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  & > :first-child {
    margin-right: 30px;
    width: 100%;
    max-width: calc(100% - 473px);
  }
  .block_center {
    width: 100%;
  }
}

.game_board_info_wrapper {
  background-color: #0E1832;
  border-radius: 10px;
  padding: 0 40px 10px;
  min-height: 530px;
  width: 100%;
  .profile_info_wrapper {
    padding: 27px 0 34px 0;
  }
  .tab_wrapper {
    min-height: 60px;
    font-size: 18px;
  }
}

.game_board_chat {
  background-color: #0E1832;
  text-align: center;
  margin-top: 20px;
  height: 622px;
  width: 443px;
  .chat_lobby_container {
    height: 100%;
    width: 100%;
    .message {
      .imageloader > img {
        max-width: 100%;
      }
    }
    .chat_messages_wrapper {
      height: calc(100% - 90px);
    }
    .chat_messages {
      min-height: 461px;
    }
  }
  .chat_header > div {
    max-width: calc(100% - 170px);
    .chat_header_info {
      width: calc(100% - 46px);
    }
  }
}

.game_board_platform_label {
  font-size: 16px;
  line-height: 18px;
  margin: 29px 0 25px;
}

.game_board_start_block {
  background-color: #0E1832;
  border-radius: 10px;
  position: relative;
  margin-top: 80px;
  height: 301px;
  padding: 84px 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    position: absolute;
    left: calc(50% - 61px);
    top: -73px;
  }
  .default_button_wrapper {
    button {
      &.default_button_big {
        width: 273px;
        min-height: 60px;
        font-size: 16px;
        &:disabled {
          &.default_button_red {
            background: #551F39;
          }
          &.default_button_green {
            background: #174A44;
          }
          color: #ffffff;
          text-transform: none;
        }
      }
    }
  }
}

.game_board_start_info {
  border-top: 1px solid #373947;
  min-height: 77px;
  p {
    padding: 16px 0 12px;
    font-size: 12px;
    letter-spacing: -0.27px;
    line-height: 15px;
    text-align: center;
  }
}

.how_to_start_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  & > :nth-child(1n) {
    padding-right: 20px;
  }
}

.how_to_start_item {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  width: 50%;
  span {
    display: block;
    height: 43px;
    min-width: 43px;
    border: 1px solid #ffffff;
    line-height: 43px;
    text-align: center;
    border-radius: 50%;
    margin-right: 25px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }
}

.how_to_start_info {
  margin-top: 22px;
  span {
    font-size: 18px;
    line-height: 21px;
  }
  p {
    margin-top: 12px;
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    line-height: 21px;
    padding-right: 30px;
  }
}

.game_board_details_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & > img {
    margin: 30px 0 0;
    max-width: 80%;
  }
}

.game_details_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 25%;
  div {
    margin-top: 10px;
    text-align: center;
    img {
      margin: 8px 0;
    }
  }
  hr {
    height: 121px;
    width: 2px;
    border: 1px solid #373947;
  }
  p {
    font-size: 16px;
    line-height: 18px;
  }
  .game_details_platform_name {
    font-size: 14px;
    display: block;
  }
}

.quit_lobby_btn {
  background: transparent;
  text-decoration: underline;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.27px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.leave_lobby_block {
  width: 332px;
  min-height: 129px;
  h3 {
    margin-bottom: 30px;
  }
  .logout_wrapper {
    p {
      font-size: 14px;
    }
  }
  .logout_buttons {
    margin: 0;
  }
}

.game_rules_wrapper {
  span {
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  p {
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    line-height: 21px;
  }
}

.game_rules-top_section {
  padding: 40px 0 30px;
  border-bottom: 1px solid #373947;
  & > :last-child {
    margin: 0;
  }
}

.game_rules-bottom_section {
  padding: 30px 0 10px;
  p {
    margin-bottom: 20px;
  }
}

.game_rules_row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  & > div {
    width: 33%;
  }
}
