.friends_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.friends_content_full_height {
    & > :last-child {
      margin-top: 0;
      height: 100%;
    }
  }
  & > :first-child {
    height: 86%;
    padding: 0 40px;
    position: relative;
  }
  & > :last-child {
    margin-top: 30px;
    height: 12%;
  }
}

div {
  .tabs_buttons_container {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(255,255,255,0.2);
    }
  }
}

div {
  .tab_wrapper {
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: -0.5px;
    opacity: 0.5;
    font-weight: 400;
    min-height: 52px;
    min-width: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:hover {
      opacity: 1;
    }
    &.tab_selected {
      opacity: 1;
    }
  }
}

.friends_content_inner {
  .friend_row {
    & > :nth-child(1) {
      width: 10%;
    }
    & > :nth-child(2) {
      width: 20%;
    }
    & > :nth-child(3) {
      width: 30%;
    }
    & > :nth-child(4) {
      width: 20%;
    }
    & > :nth-child(5) {
      width: 20%;
    }
  }
}

.friend_row {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #373947;
  .friend_row_avatar {
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      line-height: 17px;
      margin-right: 14px;
    }
    div {
      width: 34px;
      height: 34px;
    }
  }
  p {
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
    span {
      color: #A0A6D0;
    }
    img {
      margin: 0 0 2px 6px;
    }
  }
  svg {
    fill: #ffffff;
  }
}

.profile_button {
  color: #A0A6D0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

div {
  .friend_action_button {
    color: #33F389;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    background: transparent;
    cursor: pointer;
    &:disabled {
      color: #33F389;
      opacity: 0.3;
    }
    .btn_progress_accept {
      color: #33F389;
    }
  }
}

.friend_request_status {
  display: flex;
  align-items: center;
  p {
    color: #F3BB48;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 22px;
    margin-right: 6px;
  }
  svg {
    fill: #F3BB48;
  }
}

.friends_row_no_data {
  height: 66px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #373947;
}