.invite_friend {
  .title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.58px;
    line-height: 30px;
    text-align: center;
  }
}

.invite_friend_wrapper {
  margin: 55px 0 65px;
  border: 1px solid #373947;
  background-color: #0E1832;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
  padding: 10px 20px;
  .invite_friend_avatar {
    margin-right: 15px;
    width: 44px;
    height: 44px;
  }
}

.invite_friend_info {
  text-align: left;
  img {
    margin-right: 8px;
  }
  p {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.78px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.invite_friend_bottom_block {
  padding: 67px 0 56px;
}