.friends_list_wrapper {
  width: 100%;
  height: 100%;
  padding: 22px 0 22px 25px;
  h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
  }
  .friends_search_container {
    margin: 20px 25px 0 0;
  }
}

.search_friend_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: #19214D;
  input {
    background-color: transparent;
    height: 100%;
    width: calc(100% - 48px);
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 20px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    &::placeholder {
      color: rgba(255,255,255,0.3);
    }
  }
  button {
    background-color: #F24646;
    &:hover {
      background-color: #c73a3a;
    }
    svg {
      fill: rgba(255,255,255,1);
      font-size: 24px;
    }
  }
}

.friend_item {
  display: flex;
  align-items: center;
  margin: 12px 0;
  color: #ffffff;
  text-decoration: none;
  border-radius: 24px;
  padding-right: 8px;
  max-width: 90%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
    background-color: #19214D;
  }
  .friends_list_avatar {
    width: 44px;
    height: 44px;
    margin-right: 22px;
  }
  span {
    font-size: 14px;
    line-height: 17px;
    margin-right: 10px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

div {
  svg {
    &.online {
      font-size: 8px;
      fill: #2FC272;
    }
    &.offline {
      font-size: 8px;
      fill: #f44336;
    }
  }
}

.friends_list_section {
  padding-right: 8px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 10px 17px 5px 5px;
    padding: 5px;
    h4 {
      font-size: 16px;
      color: rgba(255,255,255,0.3);
      font-weight: 400;
    }
  }
  .profile_button {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

div {
  .friends_loader {
    padding: 20px 0;
    text-align: center;
    & > :first-child {
      color: #f44336;
    }
  }
}

.no_items {
  padding: 20px 0;
}