.profile_info_wrapper {
  padding: 27px 44px 34px 37px;
  margin: 0 auto;
  width: 100%;
  & > :first-child {
    margin-bottom: 20px;
  }
  .profile_user_avatar {
    width: 115px;
    height: 115px;
    margin-right: 36px;
  }
  .small_btn {
    height: 38px;
    line-height: 38px;
    text-transform: none;
    padding: 0 15px;
  }
  .btn_nav {
    width: 50px;
    height: 50px;
    margin-left: 12px;
  }
}

.profile_info_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  img {
    margin-left: 6px;
  }
}

.profile_subtitle {
  font-size: 14px;
  line-height: 17px;
}

.profile_username {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.04px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_sub_info {
  span {
    font-size: 14px;
    letter-spacing: -0.31px;
    line-height: 17px;
  }
  p {
    font-size: 18px;
    letter-spacing: -0.4px;
    line-height: 21px;
    img {
      margin: 0 0 3px 6px;
    }
  }
}

.profile_info_main {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.profile_info_main_inner {
  width: calc(100% - 151px);
}