.settings_wrapper {
  padding: 32px 30px;
  & > :first-child {
    width: 27%;
  }
  & > :last-child {
    width: 73%;
    margin-left: 30px;
  }
}

.settings_block {
  background-color: #0E1832;
  border-radius: 8px;
}

.settings_content_block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.settings_form_wrapper {
  padding-top: 24px;
  form {
    max-width: 329px;
  }
  h3 {
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 14px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .custom_input_wrapper {
    margin-bottom: 20px;
  }
  .auth_buttons_wrapper {
    margin-top: 10px;
  }
}

.password_block {
  padding: 59px 45px 62px;
}