.chat_wrapper {
  width: 100%;
  height: 100%;
}

.chat_header {
  background-color: #2C3342;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  & > div {
    display: flex;
  }
}

.chat_body {
  background-color: #393F53;
  height: calc(100% - 87px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat_panel {
  position: relative;
  overflow: hidden;
  height: 90px;
  min-height: 90px;
  padding: 10px 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  .chat_file_btn {
    width: 50px;
    height: 50px;
    background-color: #555B6F;
    margin-right: 13px;
    &:hover {
      background-color: #414655;
    }
  }
}

.chat_field {
  border: 2px solid #7E869B;
  border-radius: 24px;
  background-color: #343A4C;
  height: 52px;
  width: 100%;
  position: relative;
  input {
    height: 100%;
    padding: 0 90px 0 24px;
    width: 100%;
    background: transparent;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    &::placeholder {
      color: #FFFFFF;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  .chat_send_btn {
    background-color: #F44A4A;
    width: 52px;
    height: 52px;
    padding: 0;
    position: absolute;
    right: -2px;
    top: -2px;
    &:hover {
      background-color: #bc3838;
    }
  }
}

.chat_no_conversation {
  height: 100%;
  width: 100%;
  background-color: #393F53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.chat_header_avatar {
  position: relative;
  .chat_avatar {
    width: 46px;
    height: 46px;
  }
  .user_status {
    position: absolute;
    left: -1px;
    top: -1px;
    display: block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    z-index: 999;
    border: 4px solid #0E1832;
    &.online_user {
      background-color: green;
    }
    &.offline_user {
      background-color: red;
    }
  }
}

.chat_header_info {
  margin-left: 15px;
  text-align: left;
  p {
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    img {
      width: 12px;
      margin-right: 5px;
    }
  }
  span {
    color: #6C7183;
    font-size: 12px;
    line-height: 22px;
  }
}

.chat_messages_wrapper {
  padding: 10px 10px 0 0;
  position: relative;
  height: 100%;
  .preloader_wrapper {
    top: -2px;
  }
}

.chat_messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px 0 30px;
  min-height: calc(100vh - 260px);
}

.message {
  padding: 11px 13px 5px;
  min-height: 46px;
  max-width: 50%;
  p {
    font-size: 16px;
    line-height: 18px;
    word-break: break-word;
  }
  span {
    opacity: 0.5;
    font-size: 12px;
    line-height: 18px;
    display: block;
  }
  & > img {
    max-width: 250px;
    max-height: 250px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  button {
    background: transparent;
    margin: 5px 0;
  }
  .imageloader {
    img {
      max-width: 250px;
      max-height: 250px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}

.mine_message {
  border-radius: 10px 10px 0 10px;
  background-color: #F44A4A;
  align-self: flex-end;
  margin-bottom: 10px;
  text-align: right;
  p {
    text-align: right;
  }
  span {
    text-align: left;
  }
}

.friend_message {
  border-radius: 10px 10px 10px 0;
  background-color: #596382;
  align-self: flex-start;
  margin-bottom: 10px;
  position: relative;
  margin-left: 31px;
  text-align: left;
  .message_avatar {
    position: absolute;
    bottom: 0;
    left: -31px;
    width: 26px;
    height: 26px;
  }
  p {
    text-align: left;
  }
  span {
    text-align: right;
  }
}

.messages_time_row {
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  line-height: 22px;
  align-self: center;
  margin: 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emoji_btn {
  background: transparent;
  position: absolute;
  right: 63px;
  top: calc(50% - 10px);
  cursor: pointer;
  img {
    width: 100%;
  }
}

body {
  .emoji_popover_wrapper {
    margin-top: -12px;
  }
}

div {
  .chat_image_preview {
    position: absolute;
    top: 0;
    left: 100px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    svg {
      font-size: 14px;
    }
  }
}

.chat_full_view {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  &:hover {
    text-decoration: underline;
  }
  span {
    margin-left: 10px;
    display: inline-block;
    height: 24px;
    width: 24px;
    padding: 3px;
    background-color: #555B6F;
    color: #ffffff;
    border-radius: 50%;
    svg {
      font-size: 18px;
    }
  }
}

.chat_field_error {
  font-size: 10px;
  color: #ff344d;
  position: absolute;
  right: 0;
  top: -20px;
}

.chat_image_preload {
  width: 250px;
  height: 250px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    color: #ffffff;
  }
}